.header_wrap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 15px;
}



.logo a{
	color:#000000;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

